[SddmGreeterTheme]
Name=Made in Abyss
Description=Made in Abyss theme
Author=Netetra
Copyright=Copyright (C) 2018 Marian Arlt
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.2
Website=https://github.com/Netetra/sddm-made-in-abyss
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=made-in-abyss
Theme-API=2.11
